---
layout: default
---

{% for post in paginator.posts %}
<div class="article-wrapper">
    {% if site.share_buttons %}
    <article>
    {% else %}
    <article>
    {% endif %}
    {% include article-header.html page=post link=true %}
        <section class="post-content">
            <div>
                {{ post.excerpt | truncatewords:150 }}
            </div>
            <div>
              	 <br/>
                <a class="btn" href="{{ post.url | prepend: site.baseurl }}">{{ site.str_read_more }}</a>              
            </div>
        </section>
    </article>
</div>

{% if forloop.last != true %}
<hr/>
{% endif %}
{% endfor %}

{% include paginator.html %}
